* {
  margin: 0;
  padding: 0;
}
/* body {
   width: 1120px; 
  margin-left: 80px;
    margin-right: 80px; 
} */

.firstcontainer {
  width: 1260px;
  height: 500px;
  background: #74c69d;
  color: white;
}
.navbar {
  display: flex;

  align-items: center;
  width: 1120px;
  padding-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}
.left {
  width: 60%;
}

.right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  gap: 60px;
}

.right a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.welcomecontainer {
  width: 1120px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
}

.welcomecontainerone {
  width: 50%;
  height: 200px;
}
.welcomecontaineronea {
  width: 65%;
  height: 300px;
}

.welcomecontaineronea h4 {
  margin-top: 27px;
}

.welcomecontaineronea h1 {
  line-height: 40px;
}

.welcomecontaineronea p {
  line-height: 22px;
}

.welcomecontaineronea button {
    margin-top: 10px;
    width: 160px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: none;
    border-radius: 5px;
  
}

.welcomecontainertwo {
  width: 50%;
}

.welcomecontainertwo img {
  width: 100%;
  height: 300px;
}

.main {
  width: 1260px;
  /* background-color: greenyellow; */
}

.secondcontainer {
  width: 1120px;
  margin-left: 80px;
  margin-right: 80px;
  /* background-color: khaki; */
}

.secondcontainerone {
  width: 100%;
  text-align: center;
}

.secondcontainerone h4 {
  padding-top: 20px;
  font-size: 20px;
  color: #74c69d;
}

.secondcontainerone h2 {
  padding-top: 10px;
  font-size: 34px;
}

.secondcontainerone p {
  padding-top: 15px;
  line-height: 30px;
  font-size: 22px;
}

.secondcontainertwo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.secondcontainerthree {
  text-align: center;
}
.secondcontainerthree button {
  width: 160px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.thirdcontainer {
  padding-top: 30px;
  width: 1120px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
}

.thirdcontainerone {
  width: 100%;
}

.thirdcontainerone img {
  width: 100%;
  height: 350px;
}

.thirdcontainertwo {
  width: 100%;
}

.thirdcontainertwoa {
  padding-top: 40px;
  width: 70%;
  margin-left: 30%;
}

.thirdcontainertwoa h2 {
  font-size: 30px;
}

.thirdcontainertwoa p {
  padding-top: 20px;
  font-size: 18px;
}

.thirdcontainertwoa button {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.fourthcontainer {
  padding-top: 30px;
  width: 1120px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
}

.fourthcontainerone {
  width: 100%;
}

.fourthcontaineronea {
  padding-top: 80px;
  width: 70%;
  /* margin-left: 30%;  */
}
.fourthcontaineronea h2 {
  font-size: 30px;
}
.fourthcontaineronea p {
  padding-top: 20px;
  font-size: 18px;
}
.fourthcontaineronea button {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.fourthcontainertwo {
  width: 100%;
}

.fourthcontainertwo img {
  width: 100%;
  height: 350px;
}

.fifthcontainer {
  width: 1120px;
  margin-left: 80px;
  margin-right: 80px;
}

.fifthcontainerone {
  width: 100%;
  text-align: center;
}

.fifthcontainerone h4 {
  padding-top: 20px;
  font-size: 20px;
  color: #74c69d;
}

.fifthcontainerone h2 {
  padding-top: 10px;
  font-size: 34px;
}

.fifthcontainerone p {
  padding-top: 15px;
  line-height: 30px;
  font-size: 22px;
}

.fifthcontainertwo {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.fifthcontainertwo div {
  width: 230px;
  height: 260px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
}

.fifthcontainerthree {
  width: 100%;
  text-align: center;
}

.fifthcontainerthree button {
  margin-top: 40px;
  width: 160px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.footer{
    
    width: 100%;
    height: 100px;
    background-color: #74c69d;
}

.footercontainer{
    width: 1120px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footercontainerright{
    font-size: 18px;
    color: #fff;
}